@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r55hid');
  src:  url('../fonts/icomoon.eot?r55hid#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r55hid') format('truetype'),
    url('../fonts/icomoon.woff?r55hid') format('woff'),
    url('../fonts/icomoon.svg?r55hid#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
  content: "\e91a";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-compass:before {
  content: "\e949";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-attachment:before {
  content: "\e9cd";
}
